/*Formatação inicial para Dispositivos Mobile com largura de 980px*/

body{
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

#menu {
    position: relative;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    background-color: #F1C232 ;
    
}

#menu span{
    cursor: pointer;
    font-size: 30px;
    width: 270px;
    display: block;
    margin-bottom: 5px;
    padding: 3px 16px;
    text-align: center;
}

.dropdown-content {
    display: none;
    font-size: 30px;
    position: absolute;
    top: 13px;
    background-color: #F1C232;
    width: 270px;
    padding: 3px 16px;
    z-index: 1;
    list-style: none;
}

#menu:hover .dropdown-content {
    display: block;
    
}

ul li{
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.315);
}

#formProAtivo{
    width:700px;
    padding: 5px;
    font-size: 30px;
    margin:0 auto;
    /*border: 1px solid red;*/
}

.numbersArea input{
    font-size: 30px;
    display: block;
    min-width: 100%;
}

#button{
    /*border: 1px solid red;*/
    margin:0 auto;
    padding: 5px;
    width: 350px;
}

#button input{
    margin: 0 10px;
    display: inline-table;
    font-size: 30px;
    width: 150px;
}

.visualizacao{
    display: inline-block;
    width:100%;
    padding-bottom: 50px;
   /* border: 1px solid orange;*/
}

.visualizacao span{
    font-size: 40px;
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
   /* border: 1px solid red;*/
}

.visualizacao span input{
    font-size: 40px;
    color:rgb(189, 189, 189);
}

