body{
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

#menu {
    position: relative;
    display: inline-block;
    margin: 5px 5px 50px 5px;
    background-color: #F1C232 ;
    
}

#menu span{
    cursor: pointer;
    width: 160px;
    display: block;
    margin-bottom: 5px;
    padding: 3px 16px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 13px;
    background-color: #F1C232;
    width: 160px;
    padding: 3px 16px;
    z-index: 1;
    list-style: none;
}

#menu:hover .dropdown-content {
    display: block;
    
}

ul li{
    cursor: pointer;
    padding: 7px;
    width: 100%;
    border-bottom:1px solid #000;
}

#formProAtivo{
    width:500px;
    padding: 5px;
    margin:0 auto;
   /* border: 1px solid red;*/
}

.numbersArea input{
    font-size: 18px;
    display: block;
    min-width: 300px;
}

.visualizacao{
    display:inline-table;
    width:100%;
    padding-bottom: 50px;
    
}


